<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <div id="container">
        <button v-on:click="sayHi">click me</button>
    </div> -->
    <div id="container">
        <input type="radio" name="sex" value="男" v-model="message" checked=true> 男
        <input type="radio" name="sex" value="女" v-model="message"> 女
        <p>
            {{message}}
        </p>
    </div>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#container',
            data: {
                message: '',
            },
        });
    </script>
</head>

<body>

</body>

</html>